@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar.expand{
    height: 220px;
    background-color: black;
}

.list.expand{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.item.expand{
    margin-top:0.5rem;
}

.home.expand{
    margin-left:1rem;
}

.navbar.scrolled{
    background-color: #5a5a67;
}